@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-c {
    @apply flex justify-center items-center;
  }

  .flex-ac {
    @apply flex justify-around items-center;
  }

  .flex-bc {
    @apply flex justify-between items-center;
  }

  .navbar-bg-hover {
    @apply dark:text-white dark:hover:!bg-[#242424];
  }
}
.bg-white{
  background-color: #fff;
}

.padding-lr-m{
  padding: 0 10px 0 10px;
}

.padding-tb-m{
  padding: 10px 0 10px 0;
}

.padding-l{
  padding: 20px;
}